/* variables */

:root {
   
    /* colors */
    --clr-primary-500: #6943FF;
    --clr-secondary-300: #B295FF;
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F4F4F4;
    --clr-neutral-400: #3D3D3D;
    --clr-neutral-600:  #5A537B;
    --clr-neutral-800: #111827;

    --ff-primary: 'Open Sans', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    background-color: var(--clr-neutral-800);
    display: grid;
    place-content: center;
}

/* container */

.container {
    text-align: center;
    margin: 1rem;
}

.container__unit-converter {
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-100);
    padding: 1.5rem 3rem;
}

#unit-input {
   width: 115px;
   height: 80px;
   font-size: 58px;
   text-align: center;
   color: var(--clr-neutral-100);
   background-color: var(--clr-primary-500);
   border: var(--clr-secondary-300) 1px solid;
   border-radius: 5px;
   font-weight: var(--fw-medium);
   display: block;
   margin: 1rem auto;
}

#unit-converter-button {
    padding: 0.5rem 1.8rem;
    background-color: var(--clr-neutral-100);
    border: none;
    border-radius: 5px;
    font-weight: var(--fw-medium);
}

/* metric/imperial ul list */

.metric-imperial__list {
    list-style: none;
    background-color: var(--clr-neutral-200);
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}

.metric-imperial__items {
    background-color: var(--clr-neutral-100);
    padding: 1.5rem;
}

.metric-imperial__items h2 {
    font-size: 0.900rem;
    color: var(--clr-neutral-600);
}

#unit-conversion-result {
    font-size: 0.800rem;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-400);
    overflow-wrap: break-word;
}