/* variables */

:root {
   
    /* colors */
    --clr-primary-500: #6943FF;
    --clr-secondary-300: #B295FF;
    --clr-heading-100: #FFFFFF;
    --clr-body-600: #5A537B;

    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F4F4F4;
    --clr-neutral-400: #3D3D3D;
    --clr-neutral-600:  #5A537B;
    --clr-neutral-800: #111827;

    --ff-primary: 'Open Sans', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

}

.dark-mode {
    --clr-neutral-100: #273549;
    --clr-neutral-200: #1F2937;
    --clr-body-600: #FFFFFF;
    --clr-neutral-600: #CCC1FF;
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    background-color: var(--clr-neutral-800);
    display: grid;
    place-content: center;
}

/* container */

.container {
    background-color: var(--clr-primary-500);
    text-align: center;
    margin: 1rem;
}

/* light and dark mode toggle checkbox */

.light-dark-mode__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.light-dark-mode-toggle {
    opacity: 0;
    position: absolute;
  }
  
.light-dark-mode-label {
    background-color: var(--clr-heading-100);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
.light-dark-mode-label .circle {
    background-color: var(--clr-primary-500);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
.light-dark-mode-toggle:checked + .light-dark-mode-label .circle {
    transform: translateX(24px);
  }
  
.fa-moon {
    color: var(--clr-neutral-800);
  }
  
.fa-sun {
    color: var(--clr-neutral-600);
  }

/* unit converter styles */

  .container__unit-converter {
    padding: 1.5rem 3rem 0.5rem 3rem;
}

.container__unit-converter h1 {
    font-size: 1.7rem;
    color: var(--clr-heading-100);
}

#unit-input {
   width: 115px;
   height: 80px;
   font-size: 58px;
   text-align: center;
   color: var(--clr-heading-100);
   background-color: var(--clr-primary-500);
   border: var(--clr-secondary-300) 1px solid;
   border-radius: 5px;
   font-weight: var(--fw-medium);
   display: block;
   margin: 1rem auto;
}

#unit-input::placeholder {
    color: var(--clr-heading-100);

}

#unit-converter-button {
    padding: 0.5rem 1.8rem;
    background-color: var(--clr-heading-100);
    border: none;
    border-radius: 5px;
    font-weight: var(--fw-medium);
}

/* metric/imperial ul list */

.metric-imperial__list {
    list-style: none;
    background-color: var(--clr-neutral-200);
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}

.metric-imperial__items {
    background-color: var(--clr-neutral-100);
    padding: 1.5rem;
}

.metric-imperial__items h2 {
    font-size: 0.900rem;
    color: var(--clr-neutral-600);
}

.unit-conversion-result {
    font-size: 0.800rem;
    font-weight: var(--fw-medium);
    color: var(--clr-body-600);
    overflow-wrap: break-word;
}