/* variables */

:root {
   
    /* colors */
    --clr-primary-500: #6943FF;
    --clr-secondary-300: #B295FF;
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F4F4F4;
    --clr-neutral-400: #3D3D3D;
    --clr-neutral-600:  #5A537B;

    --ff-primary: 'Open Sans', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
}

/* container */

.container {
    text-align: center;
}

.container__unit-converter {
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-100);
    padding: 1.5rem 0;
}

#unit-input {
   width: 115px;
   height: 80px;
   font-size: 58px;
   text-align: center;
   color: var(--clr-neutral-100);
   background-color: var(--clr-primary-500);
   border: var(--clr-secondary-300) 1px solid;
   border-radius: 5px;
   font-weight: var(--fw-medium);
   display: block;
   margin: 1rem auto;
}
